{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"pluginSearchDirs": ["."],
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.md",
			"options": {
				"parser": "markdown",
				"printWidth": 100,
				"proseWrap": "always",
				"tabWidth": 2,
				"useTabs": true,
				"semi": false,
				"trailingComma": "none",
				"bracketSameLine": true
			}
		}
	]
}
