.DS_Store
node_modules
/build
/.svelte-kit
/package
/coverage
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.env
.env.*
!.env.example
dist/
.github/
.vscode/
static

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

tsconfig.json

CHANGELOG.md
.changeset

storybook-static/**/*

*.ignore-svelte
*.ignore-ts

playwright.config.ts
playwright-report
.vercel

src/pagefind/**/*

# Don't format our pregenerated tailwind & globalcss highlighted snippets
other/**/*