@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Black.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-Regular.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-Black.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-BoldOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-BoldOblique.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-BoldOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-BoldOblique.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-LightOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-LightOblique.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-MediumOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-MediumOblique.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-Medium.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Medium.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-RegularOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-RegularOblique.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-MediumOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-MediumOblique.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Bold.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Regular.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-BlackOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-BlackOblique.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-BlackOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-BlackOblique.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Light.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-RegularOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-RegularOblique.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-Bold.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaru-Light.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaru-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Maru Mono';
	src: url('https://fonts-c75.pages.dev/fonts/GTMaruMono-LightOblique.woff2') format('woff2'),
		url('https://fonts-c75.pages.dev/fonts/GTMaruMono-LightOblique.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
